<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>REMPLIR CE FORMULAIRE</h1>
		</div>

<form action="/confirmation" method="post">
		<div class="col-md-12">
			<input class="formulaire" type="text" name="nom" placeholder="Entrez votre nom"/>
		</div>

		<div class="col-md-12">
			<input class="formulaire" type="text" name="prenom" placeholder="Entrez votre prénom"/>
		</div>
		<div class="col-md-12">
			<input class="formulaire" type="text" name="adress" placeholder="Entrez votre adresse"/>
		</div>
		<div class="col-md-12">
			<input class="formulaire" type="text" name="pays" placeholder="Entrez votre pays"/>
		</div>
		<div class="col-md-6">
			<a href="/index"><input type="button" class="btn btn-primary btn-lg" value="ACCUEIL"></a>
		</div>
		<div class="col-md-6">
			<input type="submit" class="btn btn-primary btn-lg" value="ENVOYER">
		</div>
</form>


	</div>
</div>