<div class="contaire">
  <div class="row">
    <div class="col-md-12">
      <h1>JEU CONCOURS GRATUIT</h1>
      <h1>VOYAGE À GAGNEZ</h1>
    </div>

    <div class="col-md-12">
      <div class="paragraphe">
      <p>Marre de travailler.</p>
      <p>Envie de partir au soleil dans la destination de votre choix.</p>
      <p>3 voyages à gagnez.</p>
      <p>INSCRIVEZ VOUS!!</p>
      </div>
    </div>


    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide taille" data-ride="carousel" data-interval="1700">

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/img/mexique.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/panama.jpg" alt="">
          </div>
          <div class="item">
              <img src="/img/seychelles.jpg" alt="">
          </div>
          <div class="item">
            <img src="/img/thailande.jpg" alt="">
          </div>
          <div class="item">
           <img src="/img/fondecran.jpg" alt="">
          </div>
        </div>
      </div>
    </div>

		<div class="col-md-6">
			<a href="/formulaire"><input type="button" class="btn btn-primary btn-lg" value="INSCRIPTION"></a>
		</div>
    <div class="col-md-6">
      <a href="/liste_inscription"><input type="button" class="btn btn-primary btn-lg" value="VOIR LES INSCRITS"></a>
    </div>
    
  </div>
</div>
