<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
        <title>CONCOURS GRATUIT POUR GAGNEZ UN VOYAGE</title>
    </head>
<body>
<div class="container-fluid corps">
    <%=yield%>
<!--PIED DE PAGE-->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copy">
                    <p>Copyright ©, Tout droit résèrvés ! ACHOURI Ilies 2015</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>