<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
        <title>TO DO LIST</title>
    </head>
<body>
    <%=yield%>
<!--PIED DE PAGE-->
<div id="footer">
  <div class="copy">
    <p>Copyright ©, Tout droit résèrvés ! ACHOURI Ilies 2015</p>
  </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>