<h1>MES TACHES À FAIRE</h1>
<div class="container">
<form class="tache" action="/index" method="post">
	<div class="form-group">
    	<input class="form-control" type="text" name="tache" placeholder="Tache"/>
  	</div>
	<button type="submit" class="btn btn-primary">AJOUTER LA TACHE</button>
</form>

<% @datas.each do |d|%>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<%= d.tache%>
		</div>
		<div class="col-md-3">
			<form action="/index/<%= d.id%>" method="post">
				<input type="hidden" name="_method" value="put">
                <input id="noir" type="text" name="tache" value="<%= d.tache%>">
                <input type="submit" class="btn btn-info" value="MODIFIER">
			</form>
		</div>
		<div class="col-md-3">
			<form action="/index/<%= d.id%>" method="post">
				<input type="hidden" name="_method" value="delete">	
      				<input type="submit" class="btn btn-danger" value="SUPPRIMER">
      		</form>
</form>

		</div>
	</div>
</div>
<% end %>
</div>