<h1>MERCI DE REMPLIR CE FORMULAIRE</h1>

<form action="/result" method="post">
	<input class="formulaire" type="text" name="nom" placeholder="Entrez votre nom"/>
	<input class="formulaire" type="text" name="prénom" placeholder="Entrez votre prénom"/>
	<input class="formulaire" type="text" name="age" placeholder="Entrez votre age"/>
	<input class="formulaire" type="text" name="ville" placeholder="Entrez votre ville"/>
	<input class="formulaire" type="text" name="pays" placeholder="Entrez votre pays"/>
	<input class="formulaire" type="submit" name="button" value="Envoyer"/>
</form>

