<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<link href="../css/index.css" rel="stylesheet">
	<title>sinatra form</title>
</head>
<body>
<%=yield%>
		<div id="baspage">
			<a>Copyright ©, Tout droit résèrvés ! ACHOURI Ilies 2015</a>
		</div>
</body>
</html>